.root {
/*    -fx-background-image: );*/
    -fx-background-color: #333333;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.hbox {
    -fx-background-color: #FFFF00;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.pane {
    -fx-background-color: #FFFF00;
}
